.content{
            font-family: 'Courier New', Courier, monospace;
            margin:5px auto;
            width:800px;
            background-color: rgb(247, 165, 233);
            
        }
.text{
            margin:5px auto;
            padding:15px;
            width: 50%;
            color:aliceblue;
}
.center{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 60%;
}